
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié ?</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/admin/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/admin/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/admin/assets/css/app.css">
    <link rel="stylesheet" href="/admin/assets/css/pages/auth.css">
</head>

<body>
    <div id="auth">
        
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="/"><h1>HiParty</h1></a>
            </div>
            <h1 class="">Mail de réinitialisation envoyé</h1>
            <p class="auth-subtitle ">Le mail de réinitialisation a été envoyé. Il expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} par sécurité.</p>
            <p class="mb-5">Vous ne voyez pas le mail ? Vérifiez vos spam ou réessayer plus tard.</p>

            <div class="text-center mt-5 text-lg fs-4">
                <p class='text-gray-600'>Un éclair de génie ? <a href="{{ path("app_login") }}" class="font-bold">Connectez-vous</a>.
                </p>
            </div>

        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
    </div>
</div>

    </div>
</body>

</html>

