{% extends 'base_dash.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="page-heading">
    <h3>Votre profil</h3>
</div>
<div class="card">
    <div class="card-body py-4 px-5">
        <div class="d-flex align-items-center">
            <div class="ms-3 name">
                <h5 class="font-bold">{{user.firstname}} {{user.name}}</h5>
                <h6 class="text-muted mb-5">{{user.email}}</h6>
                {% if is_granted("ROLE_CONTRIB") %}
                    <span class="badge bg-primary">Organisateur vérifé.</span>
                {% else %}
                    <span class="badge bg-primary mb-3">Fêtard.</span><br>
                    <a href="{{ path('verify') }}" style="text-decoration: underline;">Devenir organisateur</a>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
